{
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb-typescript-prettier",
    "plugin:testing-library/react", 
    "plugin:promise/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "plugin:custom-rules/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "prettier",
    "testing-library",
    "promise",
    "jsx-a11y",
    "@typescript-eslint",
    "custom-rules"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "overrides": [
    {
      "files": ["src/**/*.test.@(js|ts|tsx)"], 
      "rules": {
        "import/no-extraneous-dependencies": 0
      }
    },
    {
      "files": ["vite.config.ts", "vitest.config.ts"],
      "parserOptions": {
        "project": "./tsconfig.node.json"
      }
    }
  ],
  "rules": {
    "custom-rules/jsx-unique-ids": "error",
    "custom-rules/jsx-actionable-items-has-id": "warn",
    "no-multi-spaces": "error",
    "linebreak-style": ["error", "windows"],
    "import/no-unresolved": "error",
    "react/no-multi-comp": "error",
    "react/jsx-pascal-case": "error",
    "react/jsx-closing-bracket-location": "error",
    "react/jsx-closing-tag-location": "error",
    "react/jsx-tag-spacing": "error",
    "react/jsx-boolean-value": "error",
    "react/no-array-index-key": "error",
    "react/jsx-wrap-multilines": "error",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function"
      }
    ],
    "jsx-quotes": ["error", "prefer-double"],
    "jsx-a11y/alt-text": "error",
    "jsx-a11y/img-redundant-alt": "error",
    "jsx-a11y/aria-role": "error",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "no-restricted-exports": [
      "off",
      {
        "restrictedNamedExports": ["default"]
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "ignorePropertyModificationsFor": ["state"]
      }
    ]
  }
}